[submodule "hello_foundry/lib/forge-std"]
	path = hello_foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Fishing/lib/forge-std"]
	path = Fishing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Fishing/lib/openzeppelin-contracts"]
	path = Fishing/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
